@model IEnumerable<GroupSpace2022.Models.Group>

@{
    ViewData["Title"] = "Groepen";
    string spacer = " | ";
}

<h1>Beheer van groepen</h1>

<p style="margin-top:20px">
    <form asp-action="Index" asp-controller="Groups" method="get">
        Selecteer:
        <input type="text" name="searchField" />
        <input type="submit" value="Filter" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Wijzig</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (((List<int>)ViewData["isOnlyHost"]).Contains(item.Id))
                    {
                        @spacer <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
                    }
                    @if (((List<int>)ViewData["Hosts"]).Contains(item.Id))
                    {
                        @spacer <a asp-action="Members" asp-route-id="@item.Id">Leden</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
